<button (click)="setVisible()">
  {{ visible? 'Ocultar' : 'Visualizar' }}
</button>

<div>
  {{contador}}
</div>
<!-- CLASE 2 METODO Angular 17 -->
 @if(visible){
  @if(users.length > 0){
    <h2> {{title}} </h2>
    <table>
      <thead>
        <tr>
          <td>ID</td>
          <td>Name</td>
        </tr>
      </thead>
      <tbody>
        @for (user of users; track $index) {
          <tr>
            <td> {{$index}} </td>
            <td> {{user}} </td>
          </tr>
        }

      </tbody>
    </table>
  }@else {
    <p>No hay registros en el sistema</p>
  }
   

 }@else{
    <div>No posible Visualizar!</div>
 }
<!-- [title] es la forma de enviar el valor del padre al hijo -->
 <app-counter [title]="subTitle" (counterEmit)="setCounterX($event)"></app-counter>


<!-- CLASE 1 METODO ngFor ngIf component:CommonModule -->
<!-- 
<div *ngIf="visible; else notExist" >

  <h2> {{title}} </h2>
  <hr>
  
  <table *ngIf="(users.length > 0) else isEmpty">
    <thead>
      <tr>
        <td>ID</td>
        <td>Name</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; index as i">
        <td> {{i}} </td>
        <td> {{user}} </td>
      </tr>
    </tbody>
  </table>
  
  <ng-template #isEmpty>
    <div>
      Registre Vide
    </div>
  </ng-template>
</div>

<ng-template #notExist>
  No posible Visualizar!
  
</ng-template> -->



