<div *ngIf="visible; else notExist" >

  <h2> {{title}} </h2>
  <hr>
  
  <table *ngIf="(users.length > 0) else isEmpty">
    <thead>
      <tr>
        <td>ID</td>
        <td>Name</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; index as i">
        <td> {{i}} </td>
        <td> {{user}} </td>
      </tr>
    </tbody>
  </table>
  
  <ng-template #isEmpty>
    <div>
      Registre Vide
    </div>
  </ng-template>
</div>

<ng-template #notExist>
  No posible Visualizar!
  
</ng-template>

<button (click)="setVisible()">
  {{ visible? 'Ocultar' : 'Visualizar' }}
</button>
